{% extends "layout.njk" %}
{% set pgProjects = true %}
{% set pgCustomBS = true %}
{% set base_path = "/" %}
{%set page_title = 'Client Rate Card'%}
{% import "macros/button-extended-macro.njk" as button %}

{% block content %}

  <div class="clearfix page-header">
    <h1>{{page_title}}</h1>
  </div>
    <div class="row">
      <div class="col-3">
        <form>
          <div class="field-wrapper">
            <label for="billsheet-name">Client Rate Card Name</label>
            <input type="text" id="bill-sheet-name" name="billsheet-name" placeholder="Client Rate Card Name" value="" />
          </div>
        </form>
      </div>
      <div class="col-3">
        <button class="button btn-blue" id="uploadTable"><i class="fa fa-upload"></i>&nbsp;Upload from Excel</button>
      </div>
      <div class="col-3">
        <button class="button btn-light-grey" id="downloadTemplate"><i class="fa fa-table"></i>&nbsp;Download Template</button>
      </div>
      <div class="col-2 float-right">
        <button class="button btn-light-grey" id="DeleteCustomBillSheet"><i class="fa fa-trash"></i>&nbsp;Delete Client Rate Card</button>
      </div>
    </div>
    <div class="hide">
      <input name="upload" type="file" id="fileinput"/>
    </div>

    {% include "partials/tables/customBillTable.njk" %}

     <div class="row button-row">
      <div class="col-12">
        {{ button.default(label='Save and Continue', context='btn btn-green arrowpointer float-right', id='btn-save') }}
        {{ button.default(label='Back', id="btn-back", context='btn-light-grey float-right') }}
      </div>
    </div>

{% endblock %}