{% extends "layout.njk" %}
{% set pgProjects = true %}
{% set pgCustomBS = true %}
{% set base_path = "/" %}
{%set page_title = 'Custom Bill Sheet'%}

{% block content %}
  <div class="clearfix page-header">
    <h1>{{page_title}}</h1>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="row">
      <div class="col-3">
        <form>
          <div class="field-wrapper">
            <label for="billsheet-name">Bill Sheet Name</label>
            <input type="text" name="billsheet-name" placeholder="Bill Sheet Name" value="" />
          </div>
        </form>
      </div>
      <div class="col-2">
        <button class="btn btn-blue" id="populateTable"><i class="fa fa-upload"></i>&nbsp;Upload from Excel</button>
      </div>
      <div class="col-2">
        <button class="btn btn-light-grey" id="downloadTemplate"><i class="fa fa-table"></i>&nbsp;Download Template</button>
      </div>
      <div class="col-2 float-right">
        <button class="btn btn-light-grey" id="DeleteCustomBS"><i class="fa fa-trash"></i>&nbsp;Delete Custom Sheet</button>
      </div>
    </div>
    <div class="hide">
      <input name="upload" type="file" id="fileinput"/>
    </div>

    <table id="table" class="display" cellspacing="0" width="100%"></table>
{% endblock %}