{% extends "layout.njk" %}
{% set pgHome = true %}
{% set base_path = "/" %}
{% set page_title = "Home page | Weber-Shandwick" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-10">
        <h1>Password Reset</h1>
        <p>Lorem ipsum dolor dit amet, consectetur.</p>

        <div class="">
          <section>
            <form action="#" method="post" class="login">
              <input type="email" name="email" placeholder="Email" autofocus />
{#               <input type="password" name="password" placeholder="Password"> #}
              <section class="btn-footer">
                <button class="btn btn-light-grey" type="reset" value="cancel">Cancel</button>
                <button class="btn-blue" value="Submit" type="submit" disabled>Submit</button>
              </section>
            </form>
          </section>
        </div>
    </div>
  </div>
</div>
{% endblock %}
