{% extends "layout.njk" %}
{% set pgProjects = true %}
{% set base_path = "/" %}
{%set page_title = 'Projects'%}
{% import "macros/button-extended-macro.njk" as button %}

{% block content %}

  <div class="row">
    <div class="col-12 page-header">
      <h1>{{page_title}}</h1>
      {{ button.default(label='Start New Project', path='projectGeneral.html', context="btn-blue plus") }}
    </div>
    <div class="col-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

  <form class="search-projects" action="#" method="">

    <div class="row">
      <div class="col-6">
        <div class="field-wrapper">
          <label for="seach_proj_list">Search Project List</label>
          <input type="search" class="search-table" aria-controls="archived-projects"  placeholder="Search Project List">
        </div>
      </div>
      <div class="col-6">
        <a href="#" title="advanced search" class="toggle">+ Advanced Seach Options</a>
      </div>
    </div>

  </form>
    <form>
    {% include "partials/tables/activeProjectsTable.njk" %}
   </form>
{% endblock %}