{% extends "layout.njk" %}
{% set pgHome = true %}
{% set base_path = "/" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-10 targetBlock" id="show1">
      <section class="">
        <h1>Welcome to the Profitability &amp; Contribution Tool (PCT)</h1>
        <h2>The PCT is our global tool that provides teams the capability to estimate price and contribution for jobs by inputing required resources and out of pocket expenses.</h2>
      </section>
      <button class="btn-blue show-login" target="2">Get Started</button>
    </div>
    {% include "partials/formLoginRegister.njk" %}
    {% include "partials/formForgotPass.njk" %}
  </div>
</div>
<!--/for the dropdown example only TOBEREMOVED IF NOT USED-->
{# <button type="button" class="btn btn-blue" data-toggle="example-dropdown">Toggle Dropdown</button>
<div class="dropdown-pane" id="example-dropdown" data-dropdown data-auto-focus="true">
Example form in a dropdown.
<ul><li>sss</li><li>sss</li></ul>
</div> #}

{% endblock %}
