{% extends "layout.njk" %}
{% set pgProjects = true %}
{% set base_path = "/" %}
{%set page_title = 'Projects'%}
{% import "macros/button-extended-macro.njk" as button %}

{% block content %}

  <div class="row">
    <div class="col-12 page-header">
      <h1>{{page_title}}</h1>
      {{ button.default(label='Start New Project', path='projectGeneral.htm', context="btn-blue plus", id="start-project") }}
    </div>
    <div class="col-12">
    </div>
  </div>

  <form class="search-projects" action="#" method="">

    <div class="row">
      <div class="col-6">
        <div class="field-wrapper">
          <label for="search_proj_list">Search Project List</label>
          <input type="search" class="search-table" aria-controls="active-projects"  placeholder="Search Project List" name="search_proj_list">
        </div>
      </div>
      <div class="col-6">
        <a href="#" title="advanced search" class="toggle">+ Advanced Search Options</a>
      </div>
    </div>

  </form>
    <form>
    {% include "partials/tables/activeProjectsTable.njk" %}
   </form>
{% endblock %}