{% extends "layout.njk" %}
{% set pgProfile = true %}
{% set base_path = "/" %}
{% block content %}

<div class="row">
  <div class="col-2">
    <h1>Profile</h1>
  </div>
  <div class="col-10">
    <button class="btn btn-blue edit-profile" value="Edit Profile" type="button">Edit Profile</button>
    <button class="btn btn-blue submit-profile hide" value="Submit" type="submit">Submit</button>
  </div>
</div>

<div id="results"></div>
  <div class="row">
    <div class="col-2">
      <img class="profile-image" src="/images/profile_avatar.png" alt="profile name">
    </div>
    <div class="col-10">
      <form class="form-edit-profile" name="edit-profile" action="#" method="POST">
        <div class="row">
          <div class="col-3-sm col-2">
            <strong>Name</strong>
          </div>
          <div class="col-9-sm col-10">
            <label for="name"></label>
            <input type="text" data-name="editText" name="name" value="" class="hide" placeholder="Name">
          </div>
        </div>

        <div class="row">
          <div class="col-3-sm col-2">
            <strong>Email Address</strong>
          </div>
          <div class="col-9-sm col-10">
            <a href="mailto:" title="email"><label for="email"></label></a>
            <input type="email" data-name="editText" name="email" value="" class="hide" placeholder="Email Address">
          </div>
        </div>

        <div class="row">
          <div class="col-3-sm col-2">
            <strong>Password</strong>
          </div>
          <div class="col-9-sm col-10">
            <label for="password"></label>
            <input type="password" data-name="editText" name="password" value="" class="hide" placeholder="Password">
          </div>
        </div>

        <div class="row">
          <div class="col-3-sm col-2">
            <strong>Phone Number</strong>
          </div>
          <div class="col-9-sm col-10">
            <a href="tel:" title="phone number"><label for="phone"></label></a>
            <input type="tel" pattern= "\d{3}[\-]\d{3}[\-]\d{4}" data-name="editText" name="phone" value="" class="hide" placeholder="Phone Number">
          </div>
        </div>

        <div class="row">
          <div class="col-3-sm col-2">
            <strong>Cell Phone Number</strong>
          </div>
          <div class="col-9-sm col-10">
            <a href="tel:" title="phone number"><label for="mobile"></label></a>
            <input type="tel" pattern= "\d{3}[\-]\d{3}[\-]\d{4}" data-name="editText" name="mobile" value="" class="hide" placeholder="Cell Phone number">
          </div>
        </div>

        <div class="row">
          <div class="col-3-sm col-2">
            <strong>Offices</strong>
          </div>
          <div class="col-9-sm col-10">

            <section>
              <strong><label for="office_name"></label></strong>
              <input type="text" data-name="editText" name="office_name" value="" class="hide" placeholder="Name of Office">
              <label for="street"></label>
              <input type="text" data-name="editText" name="street" value="" class="hide" placeholder="Building number and Street Name  ">
              <label for="city"></label>
              <input type="text" data-name="editText" name="city" value="" class="hide" placeholder="City, State, Zip">
            </section>

          </div>
        </div>
      </form>

  </div>
{% endblock %}