{% extends "layout.njk" %}
{% set pgProfile = true %}
{% set base_path = "/" %}
{% block content %}
{% import "macros/button-extended-macro.njk" as button %}
<div class="clearfix page-header">
    <h1>{%set page_title = 'Profile'%} {{page_title}}</h1>
</div>
  <div class="row">
{#     <div class="col-2">
      <img class="profile-image" src="/images/profile_avatar.png" alt="profile name">
    </div> #}
    <div class="col-10">
      <form class="form-edit-profile" name="edit-profile" action="#" method="POST">
        <div class="row">
          <div class="col-3-sm col-2">
            <strong>Name</strong>
          </div>
          <div class="col-9-sm col-10">
            <span class="name"></span>
          </div>
        </div>

        <div class="row">
          <div class="col-3-sm col-2">
            <strong>Email Address</strong>
          </div>
          <div class="col-9-sm col-10">
            <a class="email"></a>
          </div>
        </div>

        <div class="row">
          <div class="col-3-sm col-2">
            <strong>Phone Number</strong>
          </div>
          <div class="col-9-sm col-10">
            <a class="phone"></a>
          </div>
        </div>

        <div class="row">
          <div class="col-3-sm col-2">
            <strong>Cell Phone Number</strong>
          </div>
          <div class="col-9-sm col-10">
            <a href="tel:" title="phone number"><span class="mobile"></span></a>
          </div>
        </div>

        <div class="row">
          <div class="col-3-sm col-2">
            <strong>Offices</strong>
          </div>
          <div class="col-9-sm col-10">

            <section>
              <p class="office_name"></p>
              <p class="street"></p>
              <p class="city"></p>
            </section>

          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-3-sm col-2">
          <strong>Client Rate Cards</strong>
        </div>
        <div class="col-9-sm col-10">
          <section id="profile-rate-cards">
            <ul>
              <li><a href="customBillSheet.htm" title="Custom Bill"></a></li>
            </ul>
          </section>
        </div>
      </div>

  </div>
{% endblock %}
