{% extends "layout.njk" %}
{% set pgProjects = true %}
{% set base_path = "/" %}
{% set page_title = "Project Information" %}
{% import "macros/button-macro.njk" as btn %}
{% import 'macros/deliverables-macro.njk' as stream %}
{% import 'macros/progress-nav-macro.njk' as progressNav %}

{% block content %}
{{ progressNav.active('General') }}

<div class="clearfix page-header">
  <h1>{{page_title}}</h1>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<form action="#" method="POST" class="project-info">
  <div class="row">
    <div class="col-2">
      <h3>Location</h3>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-4">
          <div class="field-wrapper">
            <label for="regions">Regions</label>
            <select name="regions">
              <option value="The Americas">The Americas</option>
              <option value="Asia">Asia</option>
              <option value="Europe">Europe</option>
              <option value="Africa">Africa</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="field-wrapper">
            <label for="country">Country</label>
            <select name="country">
              <option value="United States">United States</option>
              <option value="France">France</option>
              <option value="Italy">Italy</option>
              <option value="Greece">Greece</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="field-wrapper">
            <label for="billing">Billing Office</label>
            <select name="billing">
              <option value="WS Chicago">WS Chicago</option>
              <option value="New York">New York</option>
              <option value="Cleveland">Cleveland</option>
              <option value="Portland">Portland</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="field-wrapper">
            <label for="currency">Currency</label>
            <select name="currency">
              <option value="US Dollars">US Dollars</option>
              <option value="Euro">Euro</option>
              <option value="Krona">Krona</option>
              <option value="Yen">Yen</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <h3>Project Details</h3>
    </div>
    <div class="col-10">
      <div class="row radio-group">
          <input type="radio" id="radio1" class="radio1" name="group1">
          <label for="radio1">Existing Client</label>
          <input type="radio" id="radio2" class="radio2" name="group1">
          <label for="radio2">New Client</label>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="field-wrapper">
            <label for="name">Client Name</label>
            <select name="name">
              <option value="Mondelez Global">Mondelez Global</option>
              <option value="Timewarner">Timewarner</option>
              <option value="Webber">Webber</option>
              <option value="NBC">NBC</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="field-wrapper">
            <label for="projectname">Project Name</label>
            <input type="text" name="projectname" placeholder="Project Name" />
          </div>
        </div>
        <div class="col-4">
          <div class="field-wrapper">
            <label for="compensation">Compensation Type (Optional)</label>
            <select name="compensation">
              <option value="Value 1">Value 1</option>
              <option value="Value 2">Value 2</option>
              <option value="Value 3">Value 3</option>
              <option value="Value 4">Value 4</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="field-wrapper">
            <label for="jnumber">Job Number (Optional)</label>
            <input type="text" name="jnumber" placeholder="Job Number" value="" />
          </div>
        </div>
        <div class="col-4">
          <div class="field-wrapper">
            <label for="sownumber">SOW Number (Optional)</label>
            <input type="text" name="sownumber" placeholder="SOW Number" value="" />
          </div>
        </div>
        <div class="col-4">
          <div class="field-wrapper">
            <label for="uploadsow">Upload SOW (Optional)</label>
            <input type="text" name="uploadsow" placeholder="Upload SOW" value="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <h3>Timing</h3>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-4">
          <div class="field-wrapper">
            <label for="planby">Plan By</label>
            <select name="planby">
              <option value="Weekly">Weekly</option>
              <option value="Monthly">Monthly</option>
              <option value="Summary">Summary</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="field-wrapper">
              <label for="date">Estimated Start Date</label>
              <input type="text" placeholder="Estimated Start Date" class="datepicker" name="date" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d" />
              <a class="fa fa-calendar"></a>
          </div>
        </div>
        <div class="col-4">
          <div class="field-wrapper">
            <label for="duration">Duration</label>
            <input type="text" name="duration" placeholder="Duration" value="" />
          </div>
        </div>
        <div class="col-4">
          <div class="field-wrapper">
            <label for="punits">Planning Units</label>
            <input type="text" name="punits" placeholder="Planning Units" value="" />
          </div>
        </div>
        <div class="col-4">
          <div class="field-wrapper">
            <label for="weekstart">Week Starting</label>
            <input type="text" name="weekstart" placeholder="Week Starting" value="" />
          </div>
        </div>
        <div class="col-4">
          <div class="field-wrapper">
            <label for="enddate">Estimated End Date</label>
            <input type="text" name="enddate" placeholder="Estimated End Date" value="" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d" />
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ stream.deliverablesRow(4) }}

  <div class="row">
    <div class="col-2">
      <h3>Comments / Project Notes</h3>
    </div>
    <div class="col-10">
      <div class="field-wrapper">
        <label for="preparedby">Prepared By</label>
        <input name="preparedby" placeholder="Prepared By" value="" />
      </div>
      <div class="field-wrapper">
        <label for="comments">Comments and Projects Notes</label>
        <textarea name="comments" placeholder="Comments and Projects Notes" value="" rows="4" cols="100"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <a href="/templates/pages/projectResources.html" title="">{{ btn.field(type="button", class='btn btn-green float-right arrowpointer', value='Save and Continue', 'Save and Continue') }}</a>
      {{ btn.field(type="reset", class='btn btn-light-grey float-right', value='Clear Form', 'Clear Form') }}
    </div>
  </div>

</form>
{# <div id="json_data">
</div> #}
{# {% include "partials/formStartProject_general.njk" %} #}
{% endblock %}