{% extends "layout.njk" %}
{% set pgProjects = true %}
{% set base_path = "/" %}
{% set page_title = "Project Expenses" %}
{% import "macros/button-extended-macro.njk" as button %}
{% import 'macros/progress-nav-macro.njk' as progressNav %}

{% block content %}
  {{ progressNav.active('Expenses') }}
  <div class="row">
    <div class="col-12 page-header">
      <h1>{{page_title}}</h1>
    </div>
    <div class="col-12">

    </div>
{#     <div class="col-3 col-3-sm">
      {{ button.default(label='',  context='fa fa-save btn-blue') }}
    </div> #}
  </div>

  <form action="#" method="POST" class="project-expense">

    <div class="row">
      <div class="col-12">
        {% include "partials/tables/projectExpenseTable.njk" %}
        {{ button.default(label='Add Expense', id='add-row', context='btn-blue plus') }}
      </div>
    </div>
    <div class="row button-row">
      <div class="col-12">
        {{ button.default(label='Save and Continue', path='projectSummary.htm', context='btn btn-green arrowpointer float-right', id='btn-save') }}
        {{ button.default(label='Back to Project Resources', id="btn-back", context='btn-light-grey float-right') }}
        {{ button.reset(attr="reset", label='Clear Form',  context='btn btn-light-grey float-left') }}
      </div>
    </div>

  </form>
{% endblock %}