{% extends "layout.njk" %}
{% set pgProjects = true %}
{% set base_path = "/" %}
{% set page_title = "Project Summary" %}
{% import "macros/button-extended-macro.njk" as button %}
{% import 'macros/progress-nav-macro.njk' as progressNav %}

{% block content %}
  {{ progressNav.active('Summary') }}
 <div class="row">
    <div class="col-12 page-header">
      <h1>{{page_title}}</h1>
    </div>
    <div class="col-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  {{ button.default(label='',  context='fa fa-save btn-blue') }}
  {{ button.default(label='',  context='fa fa-files-o btn-blue') }}
  {{ button.default(label='',  context='fa fa-table btn-blue') }}
  {{ button.default(label='',  context='fa fa-print btn-blue') }}
  <form action="#" method="POST" class="project-resources">

    <div class="row button-row">
      <div class="col-12">
        {{ button.default(label='Save and Continue', path='projectGeneral.html', context='btn btn-green arrowpointer float-right') }}
        {{ button.default(label='Back to Expence Information', path='projectExpences.html', context='btn-light-grey float-right') }}
        {{ button.reset(attr="reset", label='Clear Form',  context='btn btn-light-grey float-left') }}
      </div>
    </div>

  </form>
{% endblock %}