{% extends "layout.njk" %}
{% set pgProjects = true %}
{% set base_path = "/" %}
{% set page_title = "Project Summary" %}
{% import "macros/button-extended-macro.njk" as button %}
{% import 'macros/progress-nav-macro.njk' as progressNav %}

{% block content %}
  {{ progressNav.active('Summary') }}
 <div class="row">
    <div class="col-12 page-header">
      <h1>{{page_title}}</h1>
    </div>
    <div class="col-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div class="col-12">
{#     {{ button.default(label='',  context='fa fa-save btn-blue') }} #}
    {{ button.default(label='',  context='fa fa-files-o btn-blue') }}
{#     {{ button.default(label='',  context='fa fa-table btn-blue') }} #}
    {{ button.default(label='',  context='fa fa-print btn-blue') }}
  </div>
  <form action="#" method="POST" class="project-summary">
    <div class="row">
      <div class="col-6">
        <h3>Summary Information</h3>
        {% include "partials/tables/summaryInfoTable.njk" %}
      </div>
      <div class="col-6">
        <h3>Financial Summary</h3>
        {% include "partials/tables/financialSummaryTable.njk" %}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>Breakdown by Deliverable/Workstream</h3>
        {% include "partials/tables/breakdownDeliverablesTable.njk" %}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>Breakdown by Office</h3>
        {% include "partials/tables/breakdownOfficeTable.njk" %}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>Breakdown by Role</h3>
        {% include "partials/tables/breakdownRoleTable.njk" %}
      </div>
    </div>

    <fieldset class="row">
      <div class="col-12">
      <legend>Comments / Project Notes</legend>
        <div class="field-wrapper">
          <label for="comments">Comments and Projects Notes</label>
          <textarea name="comments" placeholder="Comments and Projects Notes" value="" rows="4" cols="100"></textarea>
        </div>
      </div>
    </fieldset>

    <div class="row button-row">
      <div class="col-12">
        {{ button.default(label='Complete and Continue', path='projectGeneral.htm', context='btn btn-green arrowpointer float-right') }}
        {{ button.default(label='Back to Expense Information', path='projectExpenses.htm', context='btn-light-grey float-right') }}
        {{ button.reset(attr="reset", label='Cancel',  context='btn btn-light-grey float-left') }}
      </div>
    </div>

  </form>
{% endblock %}