{% extends "layout.njk" %}
{% set pgProjects = true %}
{% set base_path = "/" %}
{% set page_title = "Project Resources" %}
{% import 'macros/progress-nav-macro.njk' as progressNav %}
{% import "macros/button-extended-macro.njk" as button %}

{% block content %}
  {{ progressNav.active('Resources') }}
  <div class="row">
    <div class="col-12 page-header">
      <h1>{{page_title}}</h1>
    </div>
    <div class="col-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

  <form action="#" method="POST" class="project-resources">

    <div class="row">
      <div class="col-12">
        {% include "partials/tables/modelingTable.njk" %}
      </div>
    </div>

    <div class="row rate-card-selects">
      <div class="col-3">
        <div class="field-wrapper">
          <label for="rate-card">Rate Card</label>
          <select name="rate-card" id="rate-card">
          </select>
        </div>
      </div>
      <div class="col-3">
        {{ button.default(label='View/Edit Rate Card', path="customBillSheet.htm", context='btn-blue view-card-rate') }}
      </div>
      <div class="col-2">
       {{ button.default(label='Add Client Rate Card', path="customBillSheet.htm", context='btn-blue') }}
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        {% include "partials/tables/projectResourceTable.njk" %}
        {{ button.default(label='Add Resource', id='add-row', context='btn-blue plus') }}
      </div>
    </div>

    <div class="row button-row">
      <div class="col-12">
        {{ button.default(label='Save and Continue', path='projectExpenses.htm', context='btn-green arrowpointer float-right', id='btn-save') }}
        {{ button.default(label='Back to Project Information', context='btn-light-grey float-right', id="btn-back") }}
        {{ button.reset(attr="reset", label='Clear Form',  context='btn-light-grey float-left') }}
      </div>
    </div>

  </form>
{% endblock %}