{% extends "layout.njk" %}
{% set pgProjects = true %}
{% set base_path = "/" %}
{% set page_title = "Project Information" %}
{% import "macros/button-extended-macro.njk" as button %}
{% import 'macros/deliverables-macro.njk' as stream %}
{% import 'macros/progress-nav-macro.njk' as progressNav %}

{% block content %}
{{ progressNav.active('General') }}
<div class="row">
  <div class="col-12 page-header">
    <h1>{{page_title}}</h1>
  </div>
  <div class="col-12">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>

<form action="#" method="POST" class="project-info">
  <fieldset class="row">
    <div class="col-2">
      <legend>Location</legend>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-4">
          <div class="field-wrapper">
            <label for="Region">Regions</label>
            <select name="Region">
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="field-wrapper">
            <label for="Country">Country</label>
            <select name="Country">
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="field-wrapper">
            <label for="Office">Billing Office</label>
            <select name="Office">
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="field-wrapper">
            <label for="Currency">Currency</label>
            <select name="Currency">
            </select>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="row">
    <div class="col-2">
      <legend>Project Details</legend>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-4">
          <div class="field-wrapper">
            <label for="name">Client Name</label>
             <input type="text" name="name" placeholder="Client Name" maxlength="40" />
          </div>
        </div>
        <div class="col-4">
          <div class="field-wrapper">
            <label for="Projname">Project Name</label>
            <input type="text" name="Projname" placeholder="Project Name" maxlength="40" />
          </div>
        </div>
        <div class="col-4">
          <div class="field-wrapper">
            <label for="compensation">Compensation Type (Optional)</label>
            <select name="compensation">
              <option value="Commission">Commission</option>
              <option value="Fixed Fee">Fixed Fee</option>
              <option value="Media Buy">Media Buy</option>
              <option value="Retainer">Retainer</option>
              <option value="Time + Materials">Time + Materials</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset class="row">
    <div class="col-2">
      <legend>Timing</legend>
    </div>
    <div class="col-10">
      <div class="row estimate-check">
        <div class="col-4">
          <div class="field-wrapper">
            <label for="planby">Plan By</label>
            <select name="planby">
              <option value="WK">Weekly</option>
              <option value="MN">Monthly</option>
              <option value="SM">Summary</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="field-wrapper">
            <label for="Duration">Duration</label>
            <input type="text" name="Duration" placeholder="Duration" value="" maxlength="2" />
          </div>
        </div>
        <div class="col-4">
          <div class="field-wrapper">
              <label for="date">Estimated Start Date</label>
              <input type="text" placeholder="Estimated Start Date" class="datepicker" name="date" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d" />
          </div>
        </div>
        <div class="col-4">
          <div class="field-wrapper">
            <label for="PlanUnits">Planning Units</label>
            <input type="text" name="PlanUnits" placeholder="Planning Units" value="" maxlength="3" />
          </div>
        </div>
        <div class="col-4">
          <div class="field-wrapper">
            <label for="weekstart">Week Starting</label>
            <input type="text" name="weekstart" placeholder="Week Starting" value="" disabled pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d" />
          </div>
        </div>
        <div class="col-4">
          <div class="field-wrapper">
            <label for="enddate">Estimated End Date</label>
            <input type="text" name="enddate" placeholder="Estimated End Date" disabled value="" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d" />
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  {{ stream.deliverablesRow(1) }}

  <fieldset class="row">
    <div class="col-2">
      <legend>Comments / Project Notes</legend>
    </div>
    <div class="col-9">
      <div class="field-wrapper">
        <label for="Preparedby">Prepared By</label>
        <input name="Preparedby" placeholder="Prepared By" value="" maxlength="12" />
      </div>
      <div class="field-wrapper">
        <label for="Comments">Comments and Projects Notes</label>
        <textarea name="Comments" placeholder="Comments and Projects Notes" value="" rows="4" cols="100" maxlength="70"> </textarea>
      </div>
    </div>
  </fieldset>

  <div class="row button-row">
    <div class="col-12">
      {{ button.default(label='Save and Continue', path='projectResources.htm', context='btn-green arrowpointer float-right', id='btn-save') }}
      {{ button.reset(attr="reset", label='Clear Form',  context='btn-light-grey float-left') }}
    </div>
  </div>

</form>
{% endblock %}