{% extends "layout.njk" %}
{% set pgProjects = true %}
{% set base_path = "/" %}
{% import "macros/button-macro.njk" as btn %}
{% block content %}

  <div class="clearfix page-header">
    <h1>Project Information</h1>
</div>
{# <div id="json_data">
</div> #}
{# {% include "partials/formStartProject_general.njk" %} #}
{% endblock %}