<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>
      {% if pgHome %}
        Weber Shandwick
      {% elif pgAbout %}
        About Us
      {% elif pgProjects %}
        {% if pgCustomBS %}
         Custom Bill Sheet
        {% endif %}
        Project Page
      {% elif pgReports%}
        Report Page
      {% elif pgProfile%}
        Profile
      {% elif page %}
        Weber Shandiwck
      {% endif %}
    </title>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <link href="/css/base.css" rel="stylesheet">
  </head>

  {% if pgHome %}
    <body class="home-page">
  {% elif pgAbout %}
    <body class="about-page">
  {% elif pgProjects %}
    {% if pgCustomBS %}
      <body class="projects-page custom-bill-sheet">
    {% endif %}
    <body class="projects-page">
  {% elif pgReports%}
    <body class="reports-page">
  {% elif pgProfile%}
    <body class="profile-page">
  {% elif page %}
    <body class="page">
  {% endif %}
    <!--header-->
    {% block header %}
      {% include "partials/header.njk" %}
    {% endblock %}
    <div class="content">
      <!--/content-->
      {% block content %} {% endblock %}
    </div>
    <!--footer-->
    {% if not pgHome %}
      {% block footer %}
        {% include "partials/footer.njk" %}
      {% endblock %}
    {% endif %}
    <!--ALl DataTables plugins-->
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.select.min.js"></script>
    <script src="/js/dataTables.buttons.min.js"></script>
    <script src="/js/dataTables.autoFill.min.js"></script>
    <script src="/js/buttons.print.min.js"></script>
    <script src="/js/buttons.html5.min.js"></script>
    <!--<script src="/js/altEditor.js"></script>-->
    <script src="/js/jszip.min.js"></script>
    <script src="/js/pdfmake.min.js"></script>
    <script src="/js/vfs_fonts.js"></script>
    <!--/custom js -->
    <script src="/js/base.js"></script>
  </body>
</html>