<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Sample App</title>
    <link href="/css/base.css" rel="stylesheet">
  </head>
  {% if pgHome %}
    <body class="home-page">
  {% elif pgAbout %}
    <body class="about-page">
  {% elif pgProjects %}
    <body class="projects-page">
  {% elif pgReports%}
    <body class="reports-page">
  {% elif page %}
    <body class="page">
  {% endif %}
    <!--header-->
    {% block header %}
      {% include "partials/header.njk" %}
    {% endblock %}

    <!--/content-->
    {% block content %} {% endblock %}

    <!--footer-->
    {% if not pgHome %}
      {% block footer %}
        {% include "partials/footer.njk" %}
      {% endblock %}
    {% endif %}
    <script src="/js/base.js"></script>
  </body>
</html>