<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>
      {% if pgHome %}
        Weber Shandwick
      {% elif pgAbout %}
        About Us
      {% elif pgProjects %}
        {% if pgCustomBS %}
         Client Rate Card
        {% endif %}
        Project Page
      {% elif pgReports%}
        Report Page
      {% elif pgProfile%}
        Profile
      {% elif page %}
        Weber Shandiwck
      {% endif %}
    </title>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.js"></script>
    <link href="css/base.css" rel="stylesheet">
  </head>

  {% if pgAbout %}
    <body class="about-page">
  {% elif pgCustomBS %}
    <body class="projects-page custom-bill-sheet">
  {% elif pgProjects %}
    <body class="projects-page">
  {% elif pgProfile%}
    <body class="profile-page">
  {% elif page %}
    <body class="page">
  {% endif %}
    <!--header-->
    {% block header %}
      {% include "partials/header.njk" %}
    {% endblock %}
    <div class="content">
      <!--/content-->
      {% block content %} {% endblock %}
    </div>
    <!--footer-->
    {% if not pgHome %}
      {% block footer %}
        {% include "partials/footer.njk" %}
      {% endblock %}
    {% endif %}
    <!--ALl DataTables plugins-->
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="js/dataTables.select.min.js"></script>
    <script src="js/dataTables.buttons.min.js"></script>
    <script src="js/dataTables.autoFill.min.js"></script>
    <script src="js/buttons.print.min.js"></script>
    <script src="js/buttons.html5.min.js"></script>
    <script src="js/jszip.min.js"></script>
    <script src="js/pdfmake.min.js"></script>
    <script src="js/vfs_fonts.js"></script>
    <script src="js/batch.js"></script>
    <!--/custom js -->
    <script src="js/base.js"></script>
  </body>
</html>