a {
  color: $link-color;
  text-decoration: none;
  font: normal 1rem/1.2rem "EYRegular", Arial, sans-serif;
  &.active,
  &:focus {
    // color: $default-grey;
  }
}
h1 {
  font: normal bold 3.75rem/4.5rem "EYBold", Arial, sans-serif;
  color: $default-grey;
  margin-bottom: 1.25rem;
}
h2 {
  font: italic normal 1.875rem/2.5rem "EYLightItalic", Arial, sans-serif;
  margin-bottom: .625rem;
  color: $default-grey;
}
h3 {
  font: bold 1.5rem/1.875rem "EYBold", Arial, sans-serif;
  margin-bottom: .625rem;
  color: $default-grey;
}
h4 {
  font: bold 1.125rem/1.5rem "EYBold", Arial, sans-serif;
  margin-bottom: .625rem;
  color: $default-grey;
}
h5 {
  font: normal bold 1rem/1.3125rem "EYBold", Arial, sans-serif;
  margin-bottom: .625rem;
  color: $default-grey;}
h6 {
  font: normal bold .75rem/.75rem "EYBold", Arial, sans-serif;
  margin-bottom: .625rem;
  color: $default-grey;
}
span,
label,
.dataTables_info {
  font-family: "EYLight", Arial, sans-serif;
}
p, td {
  font: 1rem/1.3125rem "EYLight", Arial, sans-serif;
  color: $medium-grey;
  margin-bottom: 1.625rem;
}
thead th {
  font: normal bold .75rem/.75rem "EYBold", Arial, sans-serif;
}
footer * {
  font: normal .75rem/1rem "EYLight", Arial, sans-serif;
}
nav {
  * {
    font: normal bold 1.25rem/1.5rem "EYBold", Arial, sans-serif;
  }
}