.profile-page {
  p {
    margin-bottom: rem-calc(3);
  }
  img {
    &.profile-image {
      width: 100%;
    }
  }
  form {
    label {
      display: block;
      margin-bottom: rem-calc(3);
    }
  }
}