.custom-bill-sheet {
  form {
    &.custom-bill-sheet-form {
    }
    .btn {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
.project-info {
  > .row {
    &:not(:nth-last-of-type(2)) {
      border-bottom:solid 1px #ebebeb;
      margin-bottom:20px;
      padding-bottom: 20px;
    }
  }
}
.project-summary {
  margin-top: rem-calc(20);
}
