
{# <div class="row archived-table">
  <div class="col-12">
    <table id="archived-projects" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Billing Office</th>
          <th>Ext. Start</th>
          <th>Duration</th>
          <th>Total Budget</th>
          <th>Win/Loss</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Loss</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>New York</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Sidney</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>London</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Edinburgh</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>San Francisco</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Paris</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Paris</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Paris</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
        <tr>
            <td>Honey Made 2016</td>
            <td>Paris</td>
            <td>2011/04/25</td>
            <td>12 Months</td>
            <td>$320,800</td>
            <td>Win</td>
            <td>Closed</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> #}

 <div class="row archived-table">
   <div class="col-12">
   <table id="archived-projects" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Billing Office</th>
        <th>Ext. Start</th>
        <th>Duration</th>
        <th>Total Budget</th>
        <th>Win/Loss</th>
        <th>Status</th>
      </tr>
    </thead>
  </table>
</div>