<div class="row">
  <div class="col-12">
    <table id="csv-table" class="display" width="100%"></table>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table id="new-table" class="display hide" width="100%">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Billing Office</th>
          <th>Ext. Start</th>
          <th>Duration</th>
          <th>Total Budget</th>
          <th>Win/Loss</th>
          <th>Status</th>
          <th>add</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><i class="fa fa-plus"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
