{% block footer %}
  <footer>
    {% import "macros/nav-macro.njk" as nav %}
    {% if pgAbout %}
      {{nav.active('about')}}
    {% elif pgProjects %}
      {{nav.active('projects')}}
    {% elif pgReports %}
     {{nav.active('reports')}}
    {% endif %}
  </footer>
{% endblock %}