<div class="col-8 targetBlock hide" id="show2">
  <section class="tabs-wrapper">
    <h1>Log In/Register</h1>
    <p>Lorem ipsum dolor dit amet, consectetur.</p>
    <ul class="tabs">
      <li class="tab-link current" data-tab="tab-1"><h3>Log In</h3></li>
      <li class="tab-link" data-tab="tab-2"><h3>Register</h3></li>
    </ul>

    <div id="tab-1" class="tab-content current">
      <section>
        <form action="#" method="post" class="login">
          <input type="text" name="username" placeholder="Username" autofocus />
          <input type="password" name="password" placeholder="Password">
          <section class="btn-footer">
            <button class="btn btn-light-grey" type="reset" value="cancel">Cancel</button>
            <button class="btn btn-light-grey" value="log in" type="submit" disabled>Log In</button>
            <a href="#" title="forgot your password?" class="forgot-pass" target="3">Forgot your password?</a>
          </section>
        </form>
      </section>
    </div>
    <div id="tab-2" class="tab-content">
      <section>
       <form action="#" method="post" class="register">
          <input type="text" name="first name" placeholder="First Name" autofocus required />
          <input type="text" name="last name" placeholder="Last Name" required />
          <input type="email" name="email" placeholder="Email" value=""   required />
          <input type="text" name="email" placeholder="Confirm Email" value="" required />
          <input type="password" name="password" placeholder="Password" required />
          <input type="password" name="confirm password" placeholder="Confirm Password" required />
          <section class="btn-footer">
            <button class="btn btn-light-grey" type="reset" value="cancel">Cancel</button>
            <button class="btn btn-light-grey" value="Register" type="submit" disabled>Register</button>
            <a href="#" title="forgot your password?" class="forgot-pass" target="3">Forgot your password?</a>
          </section>
        </form>
      </section>
    </div>
  </section>
</div>