{% block header %}
<header>
  <a href="/" title="weber-shandwick"><img src='/images/logo.png' alt="app-logo" className="app-logo"/></a>
  <button class="btn-blue login" >Log in / Register</button>
</header>
{% endblock %}