<header class="clearfix">
  <div class="float-left">
    <a href="/" title="weber-shandwick"><img src='/images/logo.png' alt="app-logo" class="app-logo"/></a>
  </div>
  <div class="float-right">
    {% if pgHome %}
      <div>
        <button class="btn-blue login" target="2">Log in / Register</button>
      </div>
    {% endif %}
    {% import "macros/nav-macro.njk" as nav %}
    {% if pgAbout %}
      {{nav.active('about')}}
    {% elif pgProjects %}
      {{nav.active('projects')}}
    {% elif pgReports %}
     {{nav.active('reports')}}
    {% elif pgProfile %}
     {{nav.active('profile')}}
    {% endif %}
  </div>
</header>

