<table class="display dataTable" id="breakdown-delivery-table">
  <tfoot>
    <tr>
      <th><span>Total</span></th>
      <th class="total-deliv-fees" id="total-deliv-fees">$0</th>
      <th class="total-deliv-expenses" id="total-deliv-expenses">$0</th>
      <th class="total-deliv-budget" id="total-deliv-budget">$0</th>
      <th class="total-hours" id="total-deliv-hours">0</th>
      <th class="total-deliv-percent">100%</th>
    </tr>
  </tfoot>
</table>