<table class="display dataTable">
  <thead>
    <tr>
      <th>Office</th>
      <th>Billing Office</th>
      <th>Proj. Fees</th>
      <th>Fees in Local Currency</th>
      <th>Hours</th>
      <th>Staffing Mix</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>WS Chicago</td>
      <td>WS Chigago</td>
      <td>$100,000.00</td>
      <td>$100,000.00</td>
      <td>2,166</td>
      <td>100%</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><span>Total</span></td>
      <td>$100,000.00</td>
      <td>$100,000.00</td>
      <td>2,166</td>
      <td>100%</td>
    </tr>
  </tfoot>
</table>