<table class="display dataTable" id="breakdown-delivery-table">
  <tfoot>
    <tr>
      <th><span>Total</span></th>
      <th class="total-deliv-fees">$0</th>
      <th class="total-deliv-expenses">$0</th>
      <th class="total-deliv-budget">$0</th>
      <th class="total-hours">0</th>
      <th class="total-deliv-percent">100%</th>
    </tr>
  </tfoot>
</table>