<table class="display dataTable">
  <thead>
    <tr>
      <th>Deliverable/Workstream</th>
      <th>Project Fees</th>
      <th>Expenses</th>
      <th>Total Budget</th>
      <th>Hours</th>
      <th>Hours %</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Non-Deliverable Specific</td>
      <td>$ --</td>
      <td>$100,000.00</td>
      <td>$100,000.00</td>
      <td>--</td>
      <td>--</td>
    </tr>
    <tr>
      <td>Foundation Media Relations</td>
      <td>aa</td>
      <td>aa</td>
      <td>aa</td>
      <td>aa</td>
      <td>aa</td>
    </tr>
    <tr>
      <td>Wholesome Button App</td>
      <td>aa</td>
      <td>aa</td>
      <td>aa</td>
      <td>aa</td>
      <td>aa</td>
    </tr>
    <tr>
      <td>Dippers New Product Launch</td>
      <td>aa</td>
      <td>aa</td>
      <td>aa</td>
      <td>aa</td>
      <td>aa</td>
    </tr>
    <tr>
      <td>Overall Account Management and IMC Engagement</td>
      <td>aa</td>
      <td>aa</td>
      <td>aa</td>
      <td>aa</td>
      <td>aa</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td><span>Total</span></td>
      <td>$ --</td>
      <td>$100,000.00</td>
      <td>$100,000.00</td>
      <td>--</td>
      <td>0 %</td>
    </tr>
  </tfoot>
</table>