<table class="display dataTable" id="breakdown-office-table">
  <tfoot>
    <tr>
      <th colspan="2"><span>Total</span></th>
      <th class="office-total-fees" id="office-total-fees"></th>
      <th class="office-total-currency" id="office-total-currency"></th>
      <th class="office-total-hours" id="office-total-hours">0</th>
      <th class="office-total-mix" id="office-total-mix">100%</th>
    </tr>
  </tfoot>
</table>