<table class="display dataTable" id="breakdown-role-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Class</th>
      <th>Proj. Fees</th>
      <th>Hours</th>
      <th>Staff Mix</th>
    </tr>
  </thead>
 <tbody>
    <tr>
      <td class="title">President</td>
      <td class="role">E6</td>
      <td class="role-fees">$ --</td>
      <td class="role-hours">$ --</td>
      <td class="role-mix">$ --</td>
    </tr>
    <tr>
      <td>Exec Vice Pres</td>
      <td class="role">E6</td>
      <td class="role-fees">$ --</td>
      <td class="role-hours">$ --</td>
      <td class="role-mix">$ --</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"><span>Total</span></td>
      <td class="roles-total">$100,000.00</td>
      <td class="roles-total-hours">2,166</td>
      <td class="roles-total-mix">100%</td>
    </tr>
  </tfoot>
</table>