<table class="display dataTable" id="breakdown-office-table">
  <thead>
    <tr>
      <th>Office</th>
      <th>Billing Office</th>
      <th>Proj. Fees</th>
      <th>Fees in Local Currency</th>
      <th>Hours</th>
      <th>Staffing Mix</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="office">WS Chicago</td>
      <td class="office">WS Chigago</td>
      <td class="office-fees">$100,000.00</td>
      <td class="office-in-currecty">$100,000.00</td>
      <td class="office-hours">2,166</td>
      <td class="office-mix">100%</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2"><span>Total</span></th>
      <th class="office-total-fees">$100,000.00</th>
      <th class="office-total-currecty">$100,000.00</th>
      <th class="office-total-hours">2,166</th>
      <th class="office-total-mix">100%</th>
    </tr>
  </tfoot>
</table>