<div class="row">
  <div class="col-12">
    <table id="csv-table" class="display" width="100%"></table>
  </div>
</div>
{#  <button id="add-row" class="button btn-blue plus hide">Add Row</button> #}

