<div class="row">
  <div class="col-12">
    <table id="csv-table" class="display" width="100%"></table>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table id="new-table" class="display hide" width="100%">
     {#  <thead>
        <tr>
          <th>Title</th>

          <th>Standard Rate</th>
          <th>Override</th>
          <th>Discount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody> #}
     {#  <tfoot>
        <tr>
          <td> <button id="add-row" class="button btn-blue plus">Add Row</button></td>
        </tr>
      </tfoot> #}
    </table>
    <button id="add-row" class="button btn-blue plus hide">Add Row</button>
  </div>
</div>
