<table class="display dataTable no-footer">
  <tbody>
    <tr>
      <td>aa</td>
      <td class="low-value">aa</td>
    <tr>
      <td>aa</td>
      <td>aa</td>
    </tr>
    <tr>
      <td>aa</td>
      <td class="high-value">aa</td>
    </tr>
    <tr>
      <td>aa</td>
      <td>aa</td>
    </tr>
    <tr>
      <td>aa</td>
      <td>aa</td>
    </tr>
    <tr>
      <td>aa</td>
      <td>aa</td>
    </tr>
    <tr>
      <td>aa</td>
      <td>aa</td>
    </tr>
  </tbody>
</table>