<table class="display dataTable no-footer" id="financial-summary-table">
  <tbody>
    <tr>
      <td>Total Budget</td>
      <td id="total-budget"></td>
    <tr>
      <td>Less Expenses</td>
      <td id="expenses"></td>
    </tr>
    <tr>
      <td>Net Revenue</td>
      <td id="net-revenue"></td>
    </tr>
    <tr>
      <td>Contribution Margin %</td>
      <td id="contribution-margin"></td>
    </tr>
    <tr>
      <td>OOP/Fees</td>
      <td id="oop-fees"></td>
    </tr>
    <tr>
      <td>Total Project Hours</td>
      <td class="total-hours" id="total-hours"></td>
    </tr>
    <tr>
      <td>Blended Avg. Rate</td>
      <td id="avg-rate"></td>
    </tr>
  </tbody>
</table>