<table class="display dataTable no-footer" id="financial-summary-table">
  <tbody>
    <tr>
      <td>Total Budget</td>
      <td class="low-value" id="total-budget">$350,000</td>
    <tr>
      <td>Less Expenses</td>
      <td id="expenses">$(10,000)</td>
    </tr>
    <tr>
      <td>Net Revenue</td>
      <td class="high-value" id="net-revenue">aa</td>
    </tr>
    <tr>
      <td>Contribution Margin %</td>
      <td id="contrib">56%</td>
    </tr>
    <tr>
      <td>OOP/Fees</td>
      <td id="oop-fees">40.0%</td>
    </tr>
    <tr>
      <td>Total Project Hours</td>
      <td class="total-hours" id="total-hours"></td>
    </tr>
    <tr>
      <td>Blended Avg. Rate</td>
      <td id="avg-rate"></td>
    </tr>
  </tbody>
</table>