<table class="sup-tb-header" id="modeling-table">
  <thead>
    <tr>
      <th></th>
      <th colspan="2">Resource Modeling</th>
      <th colspan="2">Scenario Modeling</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td class="active">
        <input value="" type="radio" id="mt_1" name="FeeGroup" checked />
        <label for="mt_1"><span>Standard Resource Based Fee</span></label>
      </td>
      <td>
        <input value="" type="radio" id="mt_2" name="FeeGroup" />
        <label for="mt_2"><span>Adjusted Resource Based Fee</span></label>
      </td>
      <td>
        <input value="" type="radio" id="mt_3" name="FeeGroup" />
        <label for="mt_3"><span>Target Margin Based Fee</span></label>
      </td>
      <td>
        <input value="" type="radio" id="mt_4" name="FeeGroup" />
        <label for="mt_4"><span>Fixed Fee Target</span></label>
      </td>
    </tr>
    <tr>
      <td class="left">
        Fees
      </td>
      <td id="total-fee_standard-resource" class="can-clear">
      </td>
      <td id="total-fee_adjusted-resource" class="can-clear"></td>
      <td id="total-fee_target-resource" class="can-clear"></td>
      <td class="contenteditable num">
        <div id="fixed-fee-target" contenteditable class="fee-target can-clear"></div>
      </td>
    </tr>
    <tr>
      <td class="left">
        Contribution Margin
      </td>
      <td class="can-clear" id="contribution-margin_standard-resource">
      </td>
      <td class="can-clear" id="contribution-margin_adjusted-resource">
      </td>
      <td class="contenteditable num">
        <div id="target-contribution-margin" contenteditable class="contrib-margin"></div><label> %</label>
      </td>
      <td id="contribution-margin_fixed-fee"  class="can-clear">
      </td>
    </tr>
    <tr>
      <td class="left">
        Avg. Rate
      </td>
      <td id="avg-rate_standard-resource" class="can-clear">
      </td>
      <td id="avg-rate_adjusted-resource" class="can-clear">
      </td>
      <td  id="avg-rate_target-resource">
        {# <span class="float-left  can-clear"><i class="fa fa-caret-up can-clear"></i>21%</span> #}
        <span class="float-right can-clear"></span>
      </td>
      <td id="avg-rate_fixed-resource" >
        {# <span class="float-left can-clear"><i class="fa fa-caret-down can-clear"></i>-21%</span> #}
        <span class="float-right can-clear"></span>
      </td>
    </tr>
  </tbody>
</table>