<table class="modeling-table sup-tb-header">
  <thead>
    <tr>
      <th></th>
      <th colspan="2">Resource Modelin</th>
      <th colspan="2">Scenario Modeling</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>
        <input value="" type="radio" id="mt_1" name="FeeGroup" />
        <label for="mt_1"><span>Standard Resource Based Fee</span></label>
      </td>
      <td>
        <input value="" type="radio" id="mt_2" name="FeeGroup" />
        <label for="mt_2"><span>Adjusted Resource Based Fee</span></label>
      </td>
      <td>
        <input value="" type="radio" id="mt_3" name="FeeGroup" />
        <label for="mt_3"><span>Target Margin Based Fee</span></label>
      </td>
      <td>
        <input value="" type="radio" id="mt_4" name="FeeGroup" />
        <label for="mt_4"><span>Fixed Fee Target</span></label>
      </td>
    </tr>
    <tr>
      <td class="left">
        Fees
      </td>
      <td>
        $314,520,00
      </td>
      <td>
        -
      </td>
      <td>
        $331,520,00
      </td>
      <td contenteditable class="contenteditable">
        $250,000.00
      </td>
    </tr>
    <tr>
      <td class="left">
        Contribution Margin
      </td>
      <td class="low-value">
        65.2%
      </td>
      <td>
        -
      </td>
      <td contenteditable class="contenteditable">
        67.0%
      </td>
      <td>
        56.3%
      </td>
    </tr>
    <tr>
      <td class="left">
        Avg. Rate
      </td>
      <td>
        $148.60
      </td>
      <td>
        -
      </td>
      <td class="high-value">
        <span class="float-left"><i class="fa fa-caret-up"></i>21%</span>
        <span class="float-right">$156.59</span>
      </td>
      <td class="low-value">
        <span class="float-left"><i class="fa fa-caret-down"></i>-21%</span>
        <span class="float-right">$111.59
      </td>
    </tr>
  </tbody>
</table>