<table id="project-expense-table" class="display sup-tb-header">
 <tbody></tbody>
  <tfoot>
    <tr>
      <th colspan="5"><span>Total</span></th>
      <th class="total-fees"></th>
    </tr>
  </tfoot>
</table>
