
<table id="project-resource-table" class="display sup-tb-header" width="100%">
  <thead>
    <tr>
      <th colspan="11" scope="col">Descriptive Details</th>
      <th colspan="2" scope="col">Resource Summary</th>
      <th colspan="12" scope="col">Monthly Hours (Week Ending)</th>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="11"><span>Total</span></td>
      <td>$100,000.00</td>
      <td>$100,000.00</td>
    </tr>
  </tfoot>
</table>
