
<table id="project-resource-table" class="display sup-tb-header" width="100%">
  <tbody></tbody>
  <tfoot>
    <tr>
      <td colspan="12"><span>Total</span></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>
