<table id="project-expense-table" class="display sup-tb-header">
 <tbody></tbody>
  <tfoot>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
            
      <th><span>Total</span></th>
      <th class="total-fees"></th>
    </tr>
  </tfoot>
</table>
