<table class="display dataTable no-footer" id="summary-info-table">
 <tbody>
    <tr>
      <td>Client</td>
      <td id="client-name"></td>
    </tr>
    <tr>
      <td>Country</td>
      <td id="country"></td>
    </tr>
    <tr>
      <td>Billing Office</td>
      <td id="office"></td>
    </tr>
    <tr>
      <td>Project Name</td>
      <td id="project-name"></td>
    </tr>
    <tr>
      <td>Est.Start Date</td>
      <td id="start-date"></td>
    </tr>
    <tr>
      <td>Duration</td>
      <td id="duration"></td>
    </tr>
    <tr>
      <td>Compensation Type</td>
      <td id="comp-type"></td>
    </tr>
    <tr>
      <td>Job Number</td>
      <td id="job-number"></td>
    </tr>
    <tr>
      <td>SOW Number</td>
      <td id="sow"></td>
    </tr>
    <tr>
      <td>Rate card used</td>
      <td id="rate-card"></td>
    </tr>
  </tbody>
</table>