<table class="display dataTable no-footer" id="summary-info-table">
 <tbody>
    <tr>
      <td>Client</td>
      <td id="client-name">MORGAN STANLEY</td>
    </tr>
    <tr>
      <td>Country</td>
      <td id="country">USA</td>
    </tr>
    <tr>
      <td>Billing Office</td>
      <td id="office">WS Minneapolis</td>
    </tr>
    <tr>
      <td>Project Name</td>
      <td id="project">AUX</td>
    </tr>
    <tr>
      <td>Est.Start Date</td>
      <td id="start-date">18/1/2017</td>
    </tr>
    <tr>
      <td>Duration</td>
      <td id="duration">50 Weeks</td>
    </tr>
    <tr>
      <td>Compensation Type</td>
      <td id="comp-type">HOURLY</td>
    </tr>
    <tr>
      <td>Job Number</td>
      <td id="job-number">--</td>
    </tr>
    <tr>
      <td>SOW Number</td>
      <td id="sow">--</td>
    </tr>
    <tr>
      <td>Rate card used</td>
      <td id="rate-card">Custom Card 2017</td>
    </tr>
  </tbody>
</table>