<table class="display dataTable no-footer">
 <tbody>
    <tr>
      <td>Client</td>
      <td>aa</td>
    </tr>
    <tr>
      <td>Country</td>
      <td>aa</td>
    </tr>
    <tr>
      <td>Billing Office</td>
      <td>aa</td>
    </tr>
    <tr>
      <td>Project Name</td>
      <td>aa</td>
    </tr>
    <tr>
      <td>Est.Start Date</td>
      <td>aa</td>
    </tr>
    <tr>
      <td>Duration</td>
      <td>aa</td>
    </tr>
    <tr>
      <td>Compensation Type</td>
      <td>aa</td>
    </tr>
    <tr>
      <td>Job Number</td>
      <td>aa</td>
    </tr>
    <tr>
      <td>SOW Number</td>
      <td>aa</td>
    </tr>
    <tr>
      <td>Rate cad used</td>
      <td>aa</td>
    </tr>
  </tbody>
</table>