{# Button macro - https://www.autotelic.io/front-end-development/html-template-recipes/button #}

{# label      (string)  : set button label #}
{# modifier   (string)  : set button theme modifier #}
{# context    (string)  : set a contextual class #}
{# path       (string)  : creates a anchor button that links to another page #}
{# isExternal (boolean) : if the link is external open in a new page and set nofollow #}
{# isDisabled (boolean) : set button to be initially disabled #}
{# size       (string)  : set button size modifier class #}
{# attrs      (object)  : set button attributes #}

{%- macro _button(label,
          modifier='',
          context='',
          path='',
          isExternal='',
          isDisabled='',
          size='',
          attrs='',
          id='')
-%}

{%- if path -%}
  <a href="{{ path }}"{% if isExternal %} rel="external nofollow" target="_blank"{% endif %}
{%- else -%}
  <button
{%- endif %}
  class="button
  {%- if modifier %} button--{{ modifier }}{%- endif -%}
  {%- if size %} button--{{ size }}{%- endif -%}
  {%- if context %} {{ context }}{% endif -%}"
  {%- if isDisabled %} disabled{% endif -%}
  {%- if id %}id="{{id}}"{% endif -%}
  {%- for name, item in attrs %} {{ name }}="{{ item }}"{% endfor -%}>{{ label }}
{%- if path -%}
  </a>
{%- else -%}
  </button>
{% endif %}
{% endmacro %}

{# a default button #}

{% macro default(label, context, path, isDisabled, size, attrs, id) -%}
  {% call _button(label=label, id=id, context=context, path=path, isDisabled=isDisabled, size=size, attrs=attrs) -%}
  {%- endcall %}
{%- endmacro %}

{# a cta button #}

{% macro cta(label, context, path, isDisabled, size, attrs) %}
  {% call _button(modifier="cta", label=label, context=context, path=path, isDisabled=isDisabled, attrs=attrs) -%}
  {%- endcall %}
{% endmacro %}

{# a form submit button #}

{% macro submit(label, context, path, isDisabled, size, attrs) %}
  {% call _button(modifier="cta", label=label, context=context, path=path, isDisabled=isDisabled, attrs={"type" : "submit"}) -%}
  {%- endcall %}
{% endmacro %}

{# an external link styled as a button button #}

{% macro external(label, context, path, isDisabled, size, attrs) %}
  {% call _button(modifier="cta", label=label, context=context, path=path, isExternal=true, isDisabled=isDisabled, attrs=attrs) -%}
  {%- endcall %}
{% endmacro %}

{# Reset button #}
{% macro reset(label, context, path, isDisabled, size, attrs) %}
  {% call _button(modifier="cta", label=label, context=context, path=path, isDisabled=isDisabled, attrs={"type" : "reset"}) -%}
  {%- endcall %}
{% endmacro %}
