{# Pn the Project Information Page deliverables #}
{% import "macros/button-extended-macro.njk" as button %}
{% macro deliverablesRow(length=1) %}

<fieldset class="row deliverables">
    <div class="col-2">
        <legend>Deliverables / Work Streams</legend>
    </div>
    <div class="col-10">
        {% for i in range(0, length) %}
        <div class="row">
            <div class="col-11  col-10-sm">
                <div class="field-wrapper">
                    <label for="Deliverables/Work Stream">Deliverables/Work Stream</label>
                    <input name="deliverable" placeholder="Deliverables/Work Stream" value="" />
                </div>
            </div>
            <div class="col-1 col-1-sm">
                {{ button.default(context='btn btn-blue fa fa-trash', label=" ", type="button") }}
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-11">
                {{ button.default(context='btn-blue add-row plus', label='Add Deliverable/ Stream',  type="button") }}
            </div>
        </div>
    </div>
</fieldset>

{% endmacro %}