{% macro active(activePage='projects') %}
  <nav>
    <ul class="row">
      {% for i in ['projects', 'about', 'profile'] %}
        {%- if i == 'projects' %}
        <li class="{%if activePage == i %}current {% endif %} {{i}}"><a href="/" class="{%if activePage == i %}active {% endif %}"> <span>{{ i | title }}</span></a></li>
        {%- else %}
        <li class="{%if activePage == i %}current {% endif %} {{i}}"><a href="{{ i }}.html" class="{%if activePage == i %}active {% endif %}"> <span>{{ i | title }}</span></a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endmacro %}

