{% macro active(activePage='projects') %}
  <nav>
    {% for i in ['projects', 'reports', 'about'] %}
      <a href="/templates/pages/{{ i }}.html" class="{%if activePage == i %} active {% endif %}"> {{ i | title }}</a>
    {% endfor %}
  </nav>
{% endmacro %}

