{% macro active(activePage='/') %}
<nav>
  {% for i in ['home', 'about', 'contacts', 'testimonials'] %}
    <a href="/templates/pages/{{ i }}.html" class="{%if activePage == i %} active {% endif %}"> {{ i | title }}</a>
  {% endfor %}
</nav>
{% endmacro %}