{% macro active(activePages ="General") %}
  <form id="progress-navigation">
    <ul class="row radio-group">
      {% for i in ['General', 'Resources', 'Expences', 'Summary'] %}
        <li class="{%if 'project' + activePages == 'project' + i %}current {% endif %}" >
          <span>{{ i }}</span>
          <input value="/templates/pages/{{ 'project' + i }}.html" type="radio" id="radio_{{loop.index}}" name="navGroup">
          <label  for="radio_{{loop.index}}"></label>
        </li>
      {% endfor %}
    </ul>
  </form>
{% endmacro %}