//default placeholder for button style.
%btn {
  display: inline-block;
  padding: .938em 1.875em;
  color: $white;
  cursor: pointer;
  border: none;
  background-color: $dark-grey;
  @include box-shadow(0 1px 3px 0px rgba(0, 0, 0, 0.4));
  margin: rem-calc(0 2);
  text-decoration: none;
  // text-shadow: 0 .063em #000;
  font: bold 1rem sans-serif;
  border-radius: rem-calc(3);
  &:hover {
    box-shadow: inset 0 1px 3px 0px rgba(0, 0, 0, 0.4);
  }
  &:hover {
    background:darken($dark-grey, 8%);
    @include trans(all 0.3s ease);
  }
  &:active {
    background:darken($dark-grey, 25%);
  }
  &:disabled {
     cursor: default;
     &:hover {
      box-shadow: none;
    }
  }
}
//custom button colors.
@mixin button-bg($bg, $color: $white, $disabled: $bg) {
  background: $bg;
  color: $color;
  &:hover {
    background:darken($bg, 8%);
    @include trans(all 0.3s ease);
  }
  &:active {
    background:darken($bg, 25%);
  }
  &:disabled {
    background:darken($bg, 25%);
  }
}

//button element extends .btn class for default buttons.
button {
  @extend %btn;
}
.btn {
  &-blue {
    @include button-bg(#3498db, $white, #3498db);
  }
  &:disabled {
    @include button-bg($disabled-btn, #ccc);
  }
  &-light-grey {
    @include button-bg(#ececec, #999999, #ececec);
  }
}