//default placeholder for button style.
%btn {
  display: inline-block;
  padding: .938em 1.875em;
  color: $white;
  cursor: pointer;
  border: none;
  background-color: $grey;
  @include box-shadow(0 1px 3px 0px rgba(0, 0, 0, 0.4));
  margin: 0 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 .063em #000;
  font: bold 1rem sans-serif;
  &:hover {
    box-shadow: inset 0 1px 3px 0px rgba(0, 0, 0, 0.4);
  }
  &:hover {
    background:darken($grey, 8%);
    @include trans(all 0.3s ease);
  }
  &:active {
    background:darken($grey, 25%);
  }
}
//custom button colors.
@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg, 8%);
    @include trans(all 0.3s ease);
  }
  &:active {
    background:darken($bg, 25%);
  }
}

//button element extends .btn class for default buttons.
button {
  @extend %btn;
}
.btn {
  &-blue {
    @include button-bg(#3498db);
  }
}