//default placeholder for button style.
%btn {
  padding: rem-calc(15);
  color: $white;
  cursor: pointer;
  border: none !important;
  background-color: $dark-grey;
  @include box-shadow(0 1px 3px 0px rgba(0, 0, 0, 0.4));
  margin: rem-calc(0 2);
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  border-radius: rem-calc(3);
  width: auto;
  position: relative;
  white-space: nowrap;
  &:hover {
    box-shadow: inset 0 1px 3px 0px rgba(0, 0, 0, 0.4);
    background:darken($dark-grey, 8%);
    @include trans(all 0.3s ease);
  }
  &:active{
    background:darken($dark-grey, 25%);
  }
  &:disabled {
     cursor: default;
     &:hover {
      box-shadow: none;
    }
  }
}
//custom button colors.
@mixin button-bg($bg, $color: $white, $disabled: $bg) {
  background: $bg;
  color: $color;
  &:hover,
  &:focus {
    background:darken($bg, 8%);
    @include trans(all 0.3s ease);
  }
  &:active {
    background:darken($bg, 25%);
  }
  &:disabled {
    background:darken($bg, 25%);
  }
}

//button element extends .btn class for default buttons.
.button {
  @extend %btn;
}

.btn {
  &-blue {
    @include button-bg(#3498db, $white, #3498db);
  }
  &:disabled {
    @include button-bg($disabled-btn, #ccc);
  }
  &-light-grey {
    @include button-bg(#ececec, #999999, #ececec);
  }
  &-green {
    @include button-bg(#12c377, $white, #ececec);
    &.arrowpointer {
      color: $white !important;
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -22px;
        border-top: 22px solid transparent;
        border-bottom: 22px solid transparent;
        border-left: 1em solid;
        right: -1em;
        border-left-color: #12c377;
      }
      &:hover {
        box-shadow:  none;
        &:before,
        &:after {
          border-left-color: #0f9e60;
          @include trans(all 0.3s ease);
        }
      }
      &:active {
        &:before,
        &:after {
          border-left-color: #074e30;
          @include trans(all 0.3s ease);
        }
      }
    }
  }
}
div.dt-buttons {
  float: none;
  .dt-button {
    @extend %btn;
    @extend .btn-blue;
  }
}
//plus content on the button.
.plus {
  padding-left: 2rem;
  padding-right: 1rem;
  &::before {
    display: inline-block;
    content:"+";
    width: 0;
    height: 0;
    vertical-align: middle;
    position: absolute;
    left: 13px;
  }
}
.trash::before {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  position: absolute;
  left: 13px;
  content: "\f014";
  font-family: "FontAwesome";
}
.add-row {
  width: 100%;
}
//arrow after the text in the dropdown button.
button[data-toggle] {
  &::after {
    display: inline-block;
    content:"";
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
}

.button-row {
  border-bottom: solid 1px #ebebeb;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-top: solid 1px #ebebeb;
  margin-top: 20px;
  padding-top: 20px;
}
//calendar buttons
.ui-datepicker-next,
.ui-datepicker-prev {
  &:after {
    position: absolute;
    top: 50%;
    margin-top: -8px;

    font-family:FontAwesome;
  }
}
.ui-datepicker-next:after {
  content:"\f054";
  right:7px;
}
.ui-datepicker-prev:after {
  content:"\f053";
  left: 7px;
}
.fa-caret-up {
  color: $green-alert;
}
.fa-caret-down {
  color: $red-alert;
}


