footer {
  position: fixed;
  bottom: 0;
  background-color: $darker-grey;
  color: $white;
  width: 100%;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
  font-family: "EYBold", Arial;
  @include breakpoint('medium') {
    opacity: 0;
    display:none;
  }
  li {
    &.current {
      background: #644a6e;
    }
    &.projects a:before {
      content: "\f03a";
    }
    &.reports a:before {
      content: "\f15c";
    }
    &.about a:before {
      content: "\f05a";
    }
    &.profile a:before {
      content: "\f007";
    }
  }
}