form {
  .row .row [class^="col"] {
    @include breakpoint(small) {
      margin-left: rem-calc(5px);
      margin-right: rem-calc(5px);
    }
  }
  input:not([type=checkbox]):not([type=radio]) {
    background-color: $form-grey;
    border: solid 1px #dfdfdf;
    padding: rem-calc(14 10);
    margin-bottom: rem-calc(10);
    width: 100%;
    display: inline-block;
    font-size: 1rem;
    &:focus {
      &::-webkit-input-placeholder {
        transition: opacity 0.5s 0.5s ease;
        opacity: 0;
      }
      &:-moz-placeholder {
        color: red;
      }
      input[placeholder] {
        color: red;
      }
    }
    & + span {
      position: relative;
      display: block;
      &.check:after {
        content: "\f00c";
        font-family: FontAwesome;
        position: absolute;
        right: 3%;
        top: 50%;
        display: block;
        color: green;
        font-size: 30px;
        margin-top: -50px;
      }
    }
  }
  textarea {
    @extend input:not([type=checkbox]):not([type=radio]);
  }
  select {
    @extend input:not([type=checkbox]):not([type=radio]);
    border-radius: 0;
    @extend %reset-webkit;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%2828, 117, 187%29'></polygon></svg>");
    -webkit-background-size: 9px 6px;
    background-size: 9px 6px;
    background-position: right -1rem center;
    -webkit-background-origin: content-box;
    background-origin: content-box;
    background-repeat: no-repeat;
    padding-right: 1.5rem;
  }
  input[type="radio"] {
    display:none;
    + label {
      display: inline-block;
      position: relative;
      &::before {
        width: 1.25rem;
        height: 1.25rem;
        content: '';
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 50%;
        margin: 0 0.5em;
        color: transparent;
        vertical-align: middle;
      }
    }
    &:checked + label {
      font-weight: bold;
      &::before {
        border: 1px solid $yellow;
      }
      &::after {
        content: "";
        display: inline-block;
        border: none;
        border-radius: 50%;
        margin: 0 0.5rem;
        position: absolute;
        background: $yellow;
        width: 1rem;
        height: 1rem;
        left: 2px;
        top: 2px;
      }
    }
  }
  .btn-footer {
    margin-top: rem-calc(15);
    a {
      margin-left: rem-calc(15);
    }
    button {
      margin-bottom: 20px;
      @include breakpoint(small) {
        margin-bottom: 0;
      }
    }
  }
  //works with jQuery to show labels within the
  //input fields.
  .field-wrapper {
    position: relative;
    label {
      position: absolute;
      top: 4px;
      left: 10px;
      font-size: 11px;
      color: #aaa;
      transition: all 0.1s linear;
      opacity: 0;
      z-index: 10;
      &.on {
        color: $default-blue;
      }
      &.show {
        opacity: 1;
      }
    }
    .fa-calendar {
      position: absolute;
      right: 20px;
      top: 50%;
      margin-top: -17px;
      font-size: 25px;
      color: $link-color;
    }
  }
  &.project-info {
    > .row {
      border-bottom: solid 1px $gray-border;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
  }
  .radio-group {
    margin-bottom:20px;
  }
  &#progress-navigation {
    li {
      display: inline-block;
      position: relative;
      padding: 0 20px 0 0;
      text-align: center;
      font-size: 14px;
      &:not(:last-child):after {
        content: '';
        background: #cccccc;
        height: 4px;
        width: 100%;
        position: absolute;
        top: 25px;
        z-index: 1;
      }
      label {
        position: relative;
        background: white;
        z-index: 10;
      }
      input + label:before,
      input + label:after {
        margin: 0 2px;
      }
      &.current,
      &.previous {
        span {
          font-weight: bold;
          color: #000;
        }
      }
      span {
        color: #cccccc;
        display: block;
        margin-bottom: 3px;
      }
      &.previous {
        &:not(:last-child):after {
          background: $yellow;
        }
        input[type="radio"] {
           + label {
            font-weight: bold;
            &::before {
              border: 1px solid $yellow;
            }
            &::after {
              content: "";
              display: inline-block;
              border: none;
              border-radius: 50%;
              margin: 0 2px;
              position: absolute;
              background: $yellow;
              width: 1rem;
              height: 1rem;
              left: 2px;
              top: 2px;
            }
          }
        }
      }
    }
  }
}

