table {
  &.dataTable.display {
    margin: 20px 0;
    thead {
      tr {
        background: #e6e6e6;
      }
      th {
        text-align: left;
        padding-left: 5px;
        font-size: 13px;
        padding-bottom: 5px;
        font-weight: bold;
      }
    }
    tbody {
      tr:not(.selected) {
        td {
          border: solid 1px $white;
          background-color: #fafafa;
          &:first-child {
            color: $link-color;
            font-weight: bold;
            font-size: 14px;
          }
          &.win,
          &.loss  {
            font-weight: bold;
          }
          &.win {
            background-color: #dbf6eb;
            color: #12c377;
          }
          &.loss{
            background-color: #ffeee8;
            color: #ff5917;
          }
        }
      }
    }
  }
}
.toolbar {
  @extend %clearfix;
  .field-wrapper {
    width: 100%;
    display: inline;
     @include breakpoint('small') {
       width: 16%;
       float: left;
    }

    margin-right: .678%;
    &:last-child {
      margin: 0;
    }
  }
}