#project-resource-table_wrapper {
  overflow: hidden;
  overflow-x: scroll;
  margin-bottom: rem-calc(20);
}
table {
  width: 100%;
  &.dataTable.display {
    margin: rem-calc(20 0);
    thead {
      tr {
        &:nth-of-type(2) {
          background: #e6e6e6;
        }
        &:nth-of-type(1) {
          th {
            border-bottom-width: rem-calc(2);
          }
        }
      }
      th {
        font-size: rem-calc(12);
        padding-bottom: rem-calc(5);
        font-weight: bold;
        &:not(.center) {
          text-align: left;
        }
        &.blue-bg {
          width: 1px;
          color: #999999;
          font-size: 1rem;
        }
      }
    }
    tbody {
      tr {
        background-color: #f9f9f9;
        td {
          border: solid 1px $white;
          vertical-align: middle;
          &:first-child {
            color: $darker-grey;
            font-family: "EYRegular", sans-serif;
          }
          &.win,
          &.loss  {
            font-weight: bold;
          }
          &.win {
            background-color: #dbf6eb;
            color: #12c377;
          }
          &.loss{
            background-color: #ffeee8;
            color: #ff5917;
          }
          &.blue-bg {
            background-color: #e8f1f8;
          }
          &.new-row {
            animation: fadeIt 5s ease-in-out;
          }
        }
        &:hover {
          > .sorting_1,
          td {
            background-color: #eaeaea !important;
          }
        }
        &.selected {
          td,
          &:hover {
            background-color: #eaeaea !important;
          }
        }
      }
    }
    &#project-resource-table {
      margin-top: 0;
      thead {
        tr:first-child {
          th {
            white-space: nowrap;
          }
        }
      }
    }
    tfoot tr {
      background-color: #f9f9f9;
      th,
      td {
        font-weight: normal;
        font-family: "EYLight", sans-serif;
        &:first-child {
          span {
            font-family: "EYBold", sans-serif;
            font-weight: bold;
          }
          text-align: right;
        }
        background-color: transparent;
        border: solid 1px $white;
        border-top: 1px solid #111;
        padding: 8px 10px;
      }
    }
  }
  tbody tr {
    background: #f9f9f9;
    td {
      &.contenteditable,
      &.sorting_1 {
        background-color: #f2f2f2 !important;
        position: relative;
        white-space: nowrap;
        &:focus {
          outline: none;
          background: none;
        }
       > div {
          // position: absolute;
          // top: 0;
          // left: 0;
          // height: 100%;
          // width: 100%;

          padding: 5px 20px;
          text-align: center;
          border: inset 1px lightblue;
          display: inline-block;
        }
        div:focus {
          background-color: #e8f1f8;
          outline: solid 1px #3498db;
        }
      }
      input,
      select {
        width: rem-calc(200);
        margin: 0.625em 0;
      }
      &.high-value,
      &.low-value {
        font-weight: bold;
        i {
          margin-right: rem-calc(10);
        }
      }
      &.high-value {
        background-color: lighten($green-alert, 49%);
        color: $green-alert;
      }
      &.low-value {
        color: $red-alert;
        background-color: lighten($red-alert, 40%);
      }
      * {
        font-family: "EYLight", sans-serif;
      }
    }
  }
}
.toolbar {
  @extend %clearfix;
  .field-wrapper {
    width: 100%;
    display: inline;
     @include breakpoint('small') {
       width: 16%;
       float: left;
    }
    margin-right: .678%;
    &:last-child {
      margin: 0;
    }
  }
}

.sup-tb-header {
  margin: 0;
  thead {
    th {
      font-size: rem-calc(12);
      text-align: left;
      font-weight: bold;
      border-bottom: solid 2px #000;
      padding-left: rem-calc(15);
      border-left: solid 2px $white;
      padding-bottom: 5px;
    }
  }
}
//project resources tables
#modeling-table {
  border-collapse: separate;
  margin: rem-calc(20 0);
  td {
    border:solid 1px $white;
    padding: rem-calc(10);
  }
  tbody > tr {
    &:nth-of-type(1) {
      td {
        padding: rem-calc(8);
        background-color: #e6e6e6;
        text-align: left;
        border-bottom: solid 2px $light-grey;
        &.active {
          background-color: $yellow;
          span {color: $black;}
        }
      }
      span {
        color: $link-color;
        font-family: "EYBold", sans-serif;
        font-weight: bold;
        font-size: rem-calc(12);
      }
    }
  }
  td {
    &:nth-child(n+2) {
      text-align: right;
    }
  }
}
.project-summary {
  table {
    tbody {
      tr {
        td:first-child {
          font-size: 14px;
          font-family: "EYBold", sans-serif;
          font-weight: bold;
        }
      }
    }
  }
}
.new-row td {
  @include animation(fadeIt 2s ease-in-out);
}
